.container {
    text-align: center;
    margin-top: 20px;
    position: relative;
}

.hidden {
    display: none;
}

.backButton {
    position: absolute;
    left: 20px;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
}

.voteAvg {
    color: #fc0;
    font-weight: bold;
}

.voteAvg::before {
    content: " ";
}

.voteAvg::after {
    content: " \2605"
}

.overview {
    margin: 20px auto;
    max-width: min(800px, 80vw);
}

.similarFilms {
    text-align: center;
    margin-top: 50px;
}