.tile {
    margin: auto;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    height: 100%;
    color: #ddd;
    transition: scale 0.25s;
    width: 200px;
}

.tile:hover {
    text-decoration: none;
    color: white;
    transform: scale(1.05);
}

.image {
    border-radius: 10px;
}

.title {
    font-weight: bold;
}

.subText {
    display: flex;
    justify-content: space-around;
}

.rating {
    color: #fc0
}

.rating::after {
    content: " \2605"
}