* {
  box-sizing: border-box;
}

body {
  background: #222;
  color: #ddd;
}

.pageContent {
  padding-top: 55px;
}

.paginate {
  display: flex;
  list-style: none;
  justify-content: center;
}

.paginateButton, .paginateNextButton {
  border: 2px solid #777;
  border-right: none;
  text-align: center;
  padding: 5px 10px;
  outline: none;
}

.paginateNextButton {
  border-right: 2px solid #777;
}

.paginateActiveButton {
  background-color: #777;
  color: #222;
  font-weight: bold;
}

.paginateButton:hover, .paginateNextButton:hover {
  cursor: pointer;
}

.paginateAnchor {
  outline: none;
}