@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #6c757d;
  color: #ddd;
  margin: 0;
}

.App {
  padding-bottom: 20px;
  min-height: 100vh;
}

.pageContent {
  padding-top: 55px;
  text-align: center;
}